html,
body {
  height: 100vh;
}

.main-container {
  height: calc(100vh - 56px);
  max-width: 100%;
  border: 2px solid red;
}

.title-row {
  /* height: 57px; */
  height: 73px;
}

.content-row {
  height: calc(100% - 73px);
}

.sub-title {
  /* margin: 1rem 0rem 1rem 0rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-a-glance {
  border: 1px solid black;
  height: 100%;
}

.glance-div {
  width: 300px;
  border: 1px solid black;
}

.shortcut-menu {
}
