html,
body {
  height: 100vh;
}

.main-container {
  height: calc(100vh - 56px);
  max-width: 100%;
  /* border: 2px solid red; */
}

.title-row {
  /* height: 57px; */
  height: 73px;
}

.content-row {
  height: calc(100% - 125px);
}

.center-div {
  /* margin: 1rem 0rem 1rem 0rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-a-glance {
  border: 1px solid black;
  height: 100%;
  padding: 1rem;
}

.glance-div {
  width: 100%;
  border: 1px solid black;
}

.shortcut-menu {
  border: 1px solid black;
}

.shortcut-menu-title {
  height: 40px;
}

.subbb {
  align-items: center;
}

.available-apts-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
